body {
  background-color: #a77ca8;
  font-family: Montserrat;
}

.container {
  background-color: #f8e7e7;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin: 20px 0 10px 0;
}

.intro {
  text-align: center;
  font-size: 14px;
  margin: 0;
  font-weight: 200;
}

.form-container {
  background-color: #fff8f8;
  padding: 10px;
  margin: 20px 0;
  border-radius: 10px;
}

.text-input {
  width: 48%;
  font-size: 14px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #724060;
}
.select-content {
  width: 32%;
  font-size: 14px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #724060;
  color: grey;
  margin-left: 5px;
}

.submit-button {
  color: white;
  background-color: #724060;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 10px;
  margin-left: 5px;
  border: none;
}

.hint {
  font-size: 12px;
  margin-left: 5px;
  margin-top: 3px;
  opacity: 50%;
}

.content {
  background-color: #fff8f8;
  padding: 10px;
  margin: 20px 0;
  border-radius: 10px;
  border-left: 5px solid #724060;
  line-height: 28px;
}

.content strong {
  color: #724060;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
}
.hidden {
  display: none;
}

.image-grid {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

img {
  max-width: 60px;
  margin: 0 20px;
}
footer {
  font-size: 10px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  opacity: 70%;
}

a {
  color: #724060;
}
